a {
    text-decoration: none;
    color: black;
}
li {
    list-style-type: none;
    float:left;
}
.header{
    position: relative;

}
.logo {
    float: left;
    clear: both;
    margin-top: 50px;
    width: 220px;
}

.menu {
    float: left;
    clear: both;

    margin-top:40px;
    margin-left:-55px;
}
.menu li{
    margin-left:25px;
}

.subMenu {
    float: left;
    padding: 0;
}

.subMenu li {
    margin-left:25px;
}